* {
	box-sizing: border-box;
}
html, body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin: 0;
	border: 0;
}
body {
	background-color: #E3F2FD;
	padding: 15px;
}

/*Form section settings*/
form, #vremeaAcum, #vremeaUrmZile {
	background-color: white;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 15px;
}
form > input {
	font-size: 24px;
}
form > button {
	background-color: #1E88E5;
	color: white;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bolder;
	border: 0;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
}
button:hover {
	background-color: #07CFF0;
}
#eroareOras {
	color: red;
	font-weight: bold;
	padding-top: 10px;
}

/*Settings for section: current weather in selected city*/
#detaliiVremeaAcum {
	display: flex;
}
#detaliiVremeaAcum div {
	padding: 1px 0;
}
#textVremeaAcum {
	width: 25%;
}
#hartaGoogleMaps {
	width: 75%;
	display: none;
}

/*Table Settings*/
table {
	display: table;
	width: 100%;
	table-layout: fixed;
}
th, td {
	text-align: center;
	width: 16.6%;
}
th {
	background-color: #BBDEFB;
}
td {
	background-color: #F2EAED;
}